<h3>{{title}}</h3>
<span>Given that there is no user interface consider how you can prove that your solution works and delivers the
	expected results</span>
<p>I could have demonstrated this but its not within the scope as requested.<br>
I would have iterated over the Matrix.data (columns first) and created a simple GUI in a grid layout in a new component<br>
Then used simple class atributes like [class.yellow] [class.red] [class.blue] <br>and matched up with the relevant SCSS
</p>
